
        <form method = 'POST' action="/buyer/changePassword/{{token}}">
            <input name= "password" type = "password" placeholder= "Nhập password">
            
            <button type = "submit">Đổi mật khẩu</button>
        </form>

